.transaction_textField > button {
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}
.transaction_textField > button:hover {
    background-color: #000000;
}
.transaction_textField > button::after {
    background-color: #000000;
}
// .transaction_textField input {
//     width: 1000px;
//     margin-right: 20px;
// }
.transaction_address_input > input {
    width: 500px;
}
.transaction_title {
    font-size: 3vh;
    font-weight: 550;
    margin-bottom: 15px;
}

.transaction_submit_btn {
    margin-top: 30px;
    margin-left: 20px;
    min-width: 113px;
    background-color: #443741;
}
.transaction_renew_btn {
    margin-top: 30px;
    margin-left: 20px;
    min-width: 113px;
}
.transaction_container {
    margin-bottom: 50px;
}
